*{
    font-family: Arial, Helvetica, sans-serif;
}

.name {
    color: brown;
}

h1 {
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 10px;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    margin-block: 40px;
}

th {
    border: 2px solid black;
    border-collapse: collapse;
}

td {
    border: 2px solid black;
    border-collapse: collapse;
}

.pravilo {
    color: rgb(248, 115, 7);
    /*внешний отступа от левого края элемента*/
    margin-left: 10px;
}