*{
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
.header {
    box-sizing: border-box;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 16px;
    min-height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(216, 238, 201, 0.5);
}

.site-logo {
    width: 60px;
    height: 60px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 10px;
}

.site-menu {
    align-self: stretch;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 153px;
    min-height: 50px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(234, 93, 33, 1);
    text-decoration: none;
}

/*Login-popup */
.login-popup {
    display: none;
    position: fixed;
    z-index: 2;
    top: 570px;
    left: 75%;
    transform: translate(-50%, -100%);
    box-sizing: border-box;
    width: 100%;
    max-width: 500px;
    min-height: 418px;
    padding: 26px 28px 56px;
    background-color: white;
    border: 1px solid #213B7E;
    box-shadow: 5px 5px 4px 0 rgba(0, 0, 0, 0.25);
}

.show-popup {
    display: block;
}

.login-form {
    display: block;
    align-items: center;
    flex-direction: column;
}

.popup-button {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 153px;
    min-height: 50px;
    text-decoration: none;
    color: #fff;
    background-color: #EA6113;
    border: none;
}

/*Main*/
.main {
    box-sizing: border-box;
    width: 100%;
    max-width: 1202px;
    margin: 0 auto;
    padding: 0;
    flex-grow: 1;
}

.name {
    color: brown;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    margin-block: 40px;
}

th {
    border: 2px solid black;
    border-collapse: collapse;
}

td {
    border: 2px solid black;
    border-collapse: collapse;
}

.pravilo {
    color: rgba(0, 0, 0, 1);
    margin-left: 10px;
}

.name-input {
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.5);
}

.name-input::placeholder {
    font-weight: 700;
}

textarea {
    padding: 1em;
}

body {
    background-image: url("./img/IMG_3205.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

#content { 
    display: block;
    position: relative;
}

.left_side{
    display: inline-block;
    position: relative;
    width: 70%;
}


.right_side{
    display: inline-block;
    position: relative;
    width: 30%;
    float: right;
    background-color: rgba(255, 185, 214, 0.5);
}

/* Footer */
.footer {
    box-sizing: border-box;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 16px;
    min-height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(216, 238, 201, 0.5); 
}

.right_side div {
    padding: 50px;
}
